VITE_API_URL=https://api-promptpay.jirasak.com/api/qr/scan
VITE_API_KEY=lQ3plfYqZAysuGgSD1wW0DgPxxXSw8ildqzyMea15hvVU0M3EdRaWgRWYWFRH9sZhvir7Ho9cBgkP3Ta94AkzMoUhKbDwAgu2YP2r2z1jYp5yDowlV0eR3h8SyHHCTmJ